name: Test & Lint
on: [ push, pull_request ]

jobs:
  testAndLint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node:
          - '14'
          - '16'
          - '18'

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - run: npm install
      - run: npm test
      - run: npm run lint
